In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/dinnarahitt/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

### Nasa Mars News

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

quotes = soup.find_all('div', class_='content_title')

news_title = quotes[0].text
print(news_title)
 
quotes = soup.find_all('div', class_='article_teaser_body')

news_p = quotes[0].text
print(news_p)

My Culture, My Voice
In honor of Hispanic Heritage Month, Christina Hernandez, an instrument engineer on the Mars 2020 mission, talks about her childhood and journey to NASA.

### JPL Mars Space Images

In [5]:
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [6]:

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

quotes = soup.find_all('div', class_='floating_text_area')
#print(quotes[0])
link = quotes[0].a['href']
#print(link)
link = url + "/" +link
print(link)

<div class="floating_text_area">
<h2 class="brand_title">FEATURED IMAGE</h2>
<h1 class="media_feature_title">Dusty Space Cloud</h1>
<br/>
<a class="showimg fancybox-thumbs" href="image/featured/mars3.jpg" target="_blank"> <button class="btn btn-outline-light"> FULL IMAGE</button></a>
</div>
image/featured/mars3.jpg
https://spaceimages-mars.com/image/featured/mars3.jpg

### Mars Facts

In [7]:
url = 'https://galaxyfacts-mars.com/'

In [8]:
tables = pd.read_html(url)
type(tables)

list

In [9]:
df = tables[0]
df.head(7)

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [10]:
df.columns

Int64Index([0, 1, 2], dtype='int64')

In [11]:
df.columns = df.columns.get_level_values(0)
print(df.columns)

Int64Index([0, 1, 2], dtype='int64')

In [12]:
df_cols = [0,1,2]
df_transformed = df[df_cols].copy()
df_transformed.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [13]:
df = df.rename(columns={0:"Mars - Earth Comparison",
                        1:"Mars",
                        2:"Earth"})
df.head(7)

   Mars - Earth Comparison             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [14]:
#df = df.reset_index(drop=True)
df.set_index("Mars - Earth Comparison",inplace=True)
df.head(7)

                                    Mars            Earth
Mars - Earth Comparison
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [15]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [16]:
df.to_html('table.html')

In [17]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html

### Mars Hemispheres

In [ ]:
# Setup splinter
#executable_path = {'executable_path': ChromeDriverManager().install()}
#browser = Browser('chrome', **executable_path, headless=False)

In [18]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [19]:
  
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
hem_im_url = []


quotes = soup.find_all('div', class_='item')
ind = 0
for quote in quotes:
    hm = {}
    link = url + "/" + quote.img['src']

    hm['title']= quote.h3.text
    hm['img_url']= link
    hem_im_url.append(hm)
    
    
print(hem_im_url)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com//images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com//images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com//images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com//images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]

In [20]:
results = {'image_list' : hem_im_url, 'title':  news_p}

In [21]:
print (results)

{'image_list': [{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com//images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com//images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com//images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com//images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}], 'title': 'In honor of Hispanic Heritage Month, Christina Hernandez, an instrument engineer on the Mars 2020 mission, talks about her childhood and journey to NASA.'}

In [22]:
browser.quit()