In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/dinnarahitt/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

### Nasa Mars News

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')

quotes = soup.find_all('div', class_='content_title')

news_title = quotes[0].text
print(news_title)
 
quotes = soup.find_all('div', class_='article_teaser_body')

news_p = quotes[0].text
print(news_p)

NASA's Curiosity Mars Rover Takes a New Selfie Before Record Climb
Along with capturing an image before its steepest ascent ever, the robotic explorer filmed its "selfie stick," or robotic arm, in action.

### JPL Mars Space Images

In [5]:
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [6]:

html = browser.html
soup = bs(html, 'html.parser')

quotes = soup.find_all('div', class_='floating_text_area')
link = quotes[0].a['href']
featured_image_url = url + "/" +link
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

### Mars Facts

In [7]:
url = 'https://galaxyfacts-mars.com/'

In [8]:
tables = pd.read_html(url)
df = tables[0]

In [9]:
df = df.iloc[1: , :]

In [10]:
df = df.rename(columns={0:"Mars - Earth Comparison",
                        1:"Mars",
                        2:"Earth"})

In [11]:
df = df.reset_index(drop=True)
df.set_index("Mars - Earth Comparison",inplace=True)
df.head(7)

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [12]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
df.to_html('table.html')

In [14]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html

### Mars Hemispheres

In [15]:
url = 'https://marshemispheres.com/'
browser.visit(url)  
html = browser.html
soup = bs(html, 'html.parser')
hemisphere_image_urls = []


quotes = soup.find_all('div', class_='item')
#print (quotes)
ind = 0
for quote in quotes:
    hm = {}
    hm['title']= quote.h3.text
    link = url + quote.a['href']
    browser.visit(link)
    html = browser.html
    soup = bs(html, 'html.parser')
    quotes = soup.find('img', class_='wide-image')
    #print(quotes)
    src = url + quotes["src"]
    #print (src)
    hm['img_url']= src
    hemisphere_image_urls.append(hm)
    
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [16]:
results = {'news_title': news_title, 'news_p':  news_p, 'featured_image_url': featured_image_url,\
           'html_table': html_table,'hemisphere_image_urls' : hemisphere_image_urls}

In [17]:
print (results)

{'news_title': "NASA's Curiosity Mars Rover Takes a New Selfie Before Record Climb", 'news_p': 'Along with capturing an image before its steepest ascent ever, the robotic explorer filmed its "selfie stick," or robotic arm, in action.', 'featured_image_url': 'https://spaceimages-mars.com/image/featured/mars3.jpg', 'html_table': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>', 'hemisphere_image_urls': [{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}

In [18]:
browser.quit()